<mat-card *ngIf="movie" class="container">
  <div fxLayout="row">
    <img [src]="movie.Poster" class="poster" />
    <div fxLayout="column" class="details">

        <h3>{{movie.Title}}</h3>

        <strong>Runtime: {{movie.Runtime}}</strong>
        <div fxLayout="row" fxLayoutAlign="start start">
      <div class="year">{{movie.Year}}</div>
      <label class="type" [ngClass]="movie.Type | searchType">{{movie.Type}}</label>
      </div>
      <div fxLayout="column">
        <div fxLayout="row">
          <a href="https://www.imdb.com/title/{{movie.imdbID}}/" target="_blank">
            <img width="30px" height="15px" [src]="'assets/img/imdb.png'" />
          </a>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <div fxLayout="column" fxLayoutAlign="none">
            <div>{{movie.imdbRating}}</div>
            <div>Rating</div>
          </div>
          <div fxLayout="column" fxLayoutAlign="none">
            <div>{{movie.imdbVotes}}</div>
            <div>Votes</div>
          </div>
         
        </div>
      </div>
      <button mat-button (click)="clickDetails()">{{detailsButtonText}}</button>
    </div>


  </div>
  <movie-details *ngIf="showDetail" [movie]="movie"></movie-details>
</mat-card>
